body {
  main {
    .container {
      margin-bottom: 3rem;
      .accordian-container {
        width: 80%;
        margin: 0 auto;
        padding: 8rem 0 2rem;
        h1 {
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 3rem;
        }

        .accordian-question-answer {
          display: flex;
          flex-direction: column;
          padding: 0.5rem 0 0.5rem;
          .accordian-question {
            button {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border: none;
              background: transparent;
              .bold-text {
                font-weight: 700;
              }
            }
          }
          .accordian-answer {
            transition: all 500ms ease;
            max-height: 5rem;
            p {
              padding: 1rem 0 1rem;
            }
          }

          .close {
            max-height: 0;
            overflow: hidden;
          }
        }
        .accordian-question-answer::after {
          content: "";
          width: 100%;
          margin: 5px 0 5px;
          border-bottom: 1px solid $divider-light-grayish-blue;
        }
      }
    }
  }
}
