body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;

  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: $text-primary-very-dark-desaturated-blue;
  }
  p {
    font-size: 0.8125rem;
    color: $text-primary-very-dark-desaturated-blue;
  }
}
