@media screen and (max-width: 720px) {
  main .container {
    margin-top: 10rem;
    margin-bottom: 3rem;
  }
  main .container .desktop-image-wrapper {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  main {
    max-width: 40rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 720px) {
  main {
    max-width: 80rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    position: relative;
  }
  main .container .image-wrapper {
    display: none;
  }
  main .container .desktop-image-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    height: 100%;
    -ms-grid-column: 1;
    grid-column: 1/1;
    position: relative;
  }
  main .container .desktop-image-wrapper .pattern-wrapper {
    width: 100%;
    height: 100%;
    background: url(/images/bg-pattern-desktop.svg) no-repeat;
    background-size: contain;
    background-position-x: -50px;
    background-position-y: 100px;
  }
  main .container .desktop-image-wrapper .pattern-wrapper .box {
    position: absolute;
    top: 45%;
    left: -100px;
  }
  main .container .desktop-image-wrapper .pattern-wrapper .woman {
    position: absolute;
    max-width: 100%;
    left: -50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  main .container .accordian-container {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  main .container .accordian-container h1 {
    text-align: left;
  }
  main .container .accordian-container p {
    text-align: left;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  min-height: 100vh;
  width: 100%;
}

body main {
  min-height: 100vh;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
}

body h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 700;
  color: #1d1e35;
}

body p {
  font-size: 0.8125rem;
  color: #1d1e35;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .container {
  width: 90%;
  min-height: 70vh;
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 30px 25px -25px black;
          box-shadow: 0px 30px 25px -25px black;
}

body main .container .accordian-container {
  width: 80%;
  margin: 0 auto;
  padding: 8rem 0 2rem;
}

body main .container .accordian-container .accordian-question-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 0 0.5rem;
}

body main .container .accordian-container .accordian-question-answer .accordian-question button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

body main .container .accordian-container .accordian-question-answer .accordian-question button .bold-text {
  font-weight: 700;
  color: #1d1e35;
}

body main .container .accordian-container .accordian-question-answer .accordian-question button .btn-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

body main .container .accordian-container .accordian-question-answer .accordian-question button:hover p {
  color: #f47c57;
}

body main .container .accordian-container .accordian-question-answer .accordian-answer {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  max-height: 5rem;
}

body main .container .accordian-container .accordian-question-answer .accordian-answer p {
  padding: 1rem 0 1rem;
  color: #787887;
}

body main .container .accordian-container .accordian-question-answer .close {
  max-height: 0;
  overflow: hidden;
}

body main .container .accordian-container .accordian-question-answer::after {
  content: "";
  width: 100%;
  margin: 5px 0 5px;
  border-bottom: 1px solid #e7e7e9;
}

body main {
  position: relative;
}

body main .container {
  position: relative;
}

body main .container .image-wrapper {
  width: 13rem;
  position: absolute;
  top: -95px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body main .container .image-wrapper .image-hero {
  width: 100%;
  min-height: 100%;
  position: absolute;
}

body main .container .image-wrapper .image-background {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 95px;
}
/*# sourceMappingURL=styles.css.map */